upper()

In [4]:
kk_upper = 'Kuldeep Kumar'
print(kk_upper)

Kuldeep Kumar

In [3]:
print(kk_upper.upper())

KULDEEP KUMAR

lower()

In [5]:
kk_lower = 'KULDEEP KUMAR'
print(kk_lower)

KULDEEP KUMAR

In [7]:
print(kk_lower.lower())

kuldeep kumar

Boolean functions

isalnum()

In [15]:
num = '5'
letter = 'abcdef'
print(num.isnumeric())
print(letter.isnumeric())

True
False

islower(), isupper(), istitle()

In [13]:
movie = "2001: A SAMMY ODYSSEY"
book = "A Thousand Splendid Sharks"
poem = "sammy lived in a pretty how town"

In [14]:
print(movie.islower())
print(movie.isupper())

False
True

In [16]:
print(book.istitle())
print(book.isupper())

True
False

In [17]:
print(poem.istitle())
print(poem.islower())

False
True

isalnum()

In [26]:
stralnum = 'abc123'
strnum = '123'
stralpha = 'abc'
strsymb = 'kuldeep@gmail.com'

In [27]:
print(stralnum.isalnum())
print(strnum.isalnum())
print(stralpha.isalnum())
print(strsymb.isalnum())

True
True
True
False

isalpha()

In [29]:
stralnum = 'abc123'
strnum = '123'
stralpha = 'abc'
strsymb = 'kuldeep@gmail.com'

In [30]:
print(stralnum.isalpha())
print(strnum.isalpha())
print(stralpha.isalpha())
print(strsymb.isalpha())

False
False
True
False

isnumeric()

In [32]:
stralnum = 'abc123'
strnum = '123'
stralpha = 'abc'
strsymb = 'kuldeep@gmail.com'

In [33]:
print(stralnum.isnumeric())
print(strnum.isnumeric())
print(stralpha.isnumeric())
print(strsymb.isnumeric())

False
True
False
False

isspace()

In [41]:
stralnum = 'abc123'
strnum = '123'
stralpha = 'abc'
strsymb = 'kuldeep@gmail.com'
strspace  = '  '

In [45]:
print(stralnum.isspace())
print(strnum.isspace())
print(stralpha.isspace())
print(strsymb.isspace())
print(strspace.isspace())

False
False
False
False
True

string methods

string method len()

In [43]:
open_source = "Sammy contributes to open source."

In [44]:
print(len(open_source))

33

join(), split(), and replace() Methods

join()

In [46]:
balloon = "Sammy has a balloon."http://localhost:8888/notebooks/Desktop/PIAIC/Home%20Work/string%20methods%20and%20functions.ipynb#

In [56]:
" ".join(balloon)
print(" ".join(balloon))

S a m m y   h a s   a   b a l l o o n .

join() method with reversed() method

In [55]:
print(" ".join(reversed(balloon)))

. n o o l l a b   a   s a h   y m m a S

In [62]:
print(", ".join(["sharks", "crustaceans", "plankton"]))

sharks, crustaceans, plankton

split()

In [78]:
print(balloon.split(','))

['Sammy has a balloon.']

In [79]:
print(balloon.split('a'))

['S', 'mmy h', 's ', ' b', 'lloon.']

replace()

In [85]:
print(balloon.replace('has' , 'had'))

Sammy had a balloon.

capitalize()

In [87]:
capital = "kuldeep kumar"
print(capital)

kuldeep kumar

In [88]:
print(capital.capitalize())

Kuldeep kumar

center()

In [109]:
indexing = 'kuldee kumar'

In [112]:
print(indexing[2])
print(indexing[-2])

l
a

In [113]:
sample_str = 'Python String'

In [115]:
print (sample_str[2:8])

thon S

In [117]:
print (sample_str[7:])

String

In [118]:
print (sample_str[:6])

Python

In [152]:
print (sample_str[7:-4])

St

ord() Converts a character to an integer

In [146]:
ord('c')

99

In [147]:
ord('a')

97

In [153]:
ord('#')

35

chr() Converts an integer to a character

In [149]:
chr(99)

'c'

In [150]:
chr(97)

'a'

In [151]:
chr(35)

'#'

str() 	Returns a string representation of an object

In [154]:
str(49.5)

'49.5'

In [155]:
str(3+4j)

'(3+4j)'